/* html {
  background-color: beige;
} */
.backgroundImage {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url("/src/background.png");
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  background-color: black;
  filter: brightness(35%);
  animation: fadein 2s;
}

.backgroundPages {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("/src/bolsa.png");
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(0px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  background-color: black;
  filter: brightness(35%);
  animation: fadein 2s;
  background-attachment: fixed;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes mymove {
  0% {
    opacity: 0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.coffeeCard {
  text-shadow: 0 0 5px rgb(189, 117, 76);

  font-style: "bold";
  text-shadow: 0 0 5px rgb(0, 0, 0);
  font-family: "Lobster";
  font-size: 65;
  animation: mymove 2.5s;
}
.animation {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

button:hover {
  box-shadow: 0 0 10px rgb(121, 55, 1);
}

.card {
  box-shadow: 2px 3px 0px rgb(156, 77, 30);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BeTitle {
  font-family: "Montserrat", sans-serif;
}

.homePage-title {
  font-size: 70px;
  z-index: 1;
  display: flex;
  justify-content: center;
  vertical-align: center;
  text-shadow: 0px 0px 5px white;
  color: white;
  font-family: "Montserrat extra-bold", sans-serif;
  text-align: center;

  vertical-align: middle;
}
#homePage-h3 {
  font-size: 30px;
  z-index: 1;
  display: flex;
  justify-content: center;
  vertical-align: center;
  color: white;
}

.homePage-card {
  padding: 30px;
  background-color: #fffbec;
  width: 350px;
  height: 350px;
  align-content: center;
}

.card-images {
  border-style: solid;

  width: 100%;
  border-radius: 5px;
  height: 180px;
  object-fit: cover;
}

.homePage-cardComponent {
  padding: 30px;
  margin-top: 300px;
  background-color: hsla(0, 0%, 0%, 0.3);
}

.vouchersCardTitle {
  font-size: 25;
  padding-top: 50px;
  color: white;
  font-family: "Montserrat extra-bold", sans-serif;
}

.boldTitle {
  text-shadow: 0px 0px 5px white;
}

.QRform {
  justify-content: center;
  /* margin-top: 40px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

label {
  color: white;
}
